Repository streamhue/streamhue, changes with the labels that .github/labeler.yml gives for each.
All labels: meta, ui, common, web, auth, backend, service, test, source

feat(auth): move dotenv registration to dev script
  packages/auth/package-lock.json
  packages/auth/package.json
Labels: auth

fix(auth): add missing changes
  packages/auth/src/index.ts
  packages/auth/src/routes.ts
Labels: auth, source

feat(auth): enforce json responses
  packages/auth/src/middleware/json-only.ts
Labels: auth, source

feat(auth): add naive oauth callback response
  packages/auth/src/oauth/connect/controller.ts
Labels: auth, source

feat(auth): add preliminary logger
  packages/auth/package.json
  packages/auth/src/logger.ts
Labels: auth, source

fix(auth): add missing comma in package
  packages/auth/package.json
Labels: auth

fix(auth): update deps
  package.json
Labels: meta

build(npm): make npm@7 workspaces compatible
  package-lock.json
  package.json
Labels: meta

fix(ui): lock deps for intercompat
  packages/ui/package-lock.json
  packages/ui/package.json
Labels: ui, service

build: add dependabot
  .github/dependabot.yml
Labels: none

.github/labeler.yml:

---
# Add 'meta' label to any root file changes
meta:
  - ./*

# Package related labels
ui:
  - packages/ui/*
  - packages/ui/**/*

common:
  - packages/common/*
  - packages/common/**/*

web:
  - packages/web/*
  - packages/web/**/*

auth:
  - packages/auth/*
  - packages/auth/**/*

backend:
  - packages/backend/*
  - packages/backend/**/*

service:
  - packages/ui/*
  - packages/ui/**/*

# Add 'test' label to any change to tests
test:
  - packages/**/tests/*
  - packages/**/tests/**/*

# Add 'source' label to any change to src files within the source dir EXCEPT for the docs sub-folder
source:
  - 'packages/**/src/*'
  - 'packages/**/src/**/*'
