Repository streamhue/streamhue, changes with the labels that .github/labeler.yml gives for each.
All labels: meta, ui, common, web, auth, backend, service, test, source

chore(vscode): move settings to workspace
  .vscode/settings.json
  streamhue.code-workspace
Labels: meta

feat(extension-pack): add extension pack
  packages/extension-pack/.vscode/launch.json
  packages/extension-pack/.vscodeignore
  packages/extension-pack/CHANGELOG.md
  packages/extension-pack/README.md
  packages/extension-pack/package.json
  packages/extension-pack/vsc-extension-quickstart.md
Labels: none

docs(readme): add mention to extension pack
  README.md
Labels: meta

chore(vscode): update ignores in workspace
  streamhue.code-workspace
Labels: meta

test(jest): remove js, jsx, tsx from match pattern
  jest.config.js
Labels: meta

chore(eslint): ignore coverage, move to json file
  .eslintignore
  .eslintrc
  .eslintrc.js
Labels: meta

feat(common): move jwt to common, add user model
  packages/common/db-test-helper.ts
  packages/common/globalConfig.json
  packages/common/package-lock.json
  packages/common/package.json
  packages/common/src/index.ts
  packages/common/src/models/user/index.ts
  packages/common/src/models/user/password.ts
  packages/common/src/services/database.ts
  packages/common/src/services/index.ts
  packages/common/src/services/jwt/index.ts
  packages/common/src/services/jwt/types.ts
  packages/common/tests/.eslintrc.js
  packages/common/tests/models/user/index.ts
  packages/common/tests/services/jwt.ts
  packages/common/tsconfig.json
  packages/common/types/package-json.d.ts
Labels: common, test, source

feat(ui): scaffold the bare minimum ui package
  packages/ui/.browserslistrc
  packages/ui/.editorconfig
  packages/ui/.eslintrc.js
  packages/ui/.gitignore
  packages/ui/README.md
  packages/ui/babel.config.js
  packages/ui/package-lock.json
  packages/ui/package.json
  packages/ui/public/favicon.ico
  packages/ui/public/index.html
  packages/ui/src/App.vue
  packages/ui/src/assets/logo-filled.png
  packages/ui/src/assets/logo-hollow.png
  packages/ui/src/components/HelloWorld.vue
  packages/ui/src/main.ts
  packages/ui/src/router/index.ts
  packages/ui/src/shims-vue.d.ts
  packages/ui/src/store/dummy-store.ts
  packages/ui/src/store/store.ts
  packages/ui/src/views/About.vue
  packages/ui/src/views/Home.vue
  packages/ui/tsconfig.json
Labels: ui, service, source

fix(ui): add missing store code
  packages/ui/src/store/dummy-store.ts
  packages/ui/src/store/store.ts
Labels: ui, service, source

docs(readme): cutify readme
  README.md
Labels: meta

build(package.json): normalise typescript version
  package.json
Labels: meta

build: use npx to rimraf
  package.json
Labels: meta

build(lint): include jest plugins for eslint
  package.json
Labels: meta

build(package.json): update lock file
  package-lock.json
Labels: meta

build(ts): explicit strictNullChecks
  tsconfig.json
Labels: meta

build: add browserslist
  packages/ui/.browserslistrc
Labels: ui, service

test(jest): add projects
  jest.base.js
  jest.config.js
  packages/auth/jest.config.js
  packages/common/jest.config.js
Labels: meta, common, auth

fix(ui): update vue shim
  packages/ui/package.json
  packages/ui/src/shims-vue.d.ts
Labels: ui, service, source

build(npm): add global jest script
  package.json
Labels: meta

docs(readme): add note vue 3 volatility
  README.md
Labels: meta

build(npm): add jest script to common
  packages/common/package.json
Labels: common

feat(web): add boilerplate code
  packages/web/.browserslistrc
  packages/web/.editorconfig
  packages/web/.eslintrc.js
  packages/web/.gitignore
  packages/web/README.md
  packages/web/babel.config.js
  packages/web/package-lock.json
  packages/web/package.json
  packages/web/public/favicon.ico
  packages/web/public/index.html
  packages/web/src/App.vue
  packages/web/src/assets/logo.png
  packages/web/src/components/HelloWorld.vue
  packages/web/src/main.ts
  packages/web/src/router/index.ts
  packages/web/src/shims-vue.d.ts
  packages/web/src/views/About.vue
  packages/web/src/views/Home.vue
  packages/web/tsconfig.json
Labels: web, source

feat(auth): introduce semi-functional auth server implementation
  packages/auth/.eslintrc.js
  packages/auth/package-lock.json
  packages/auth/package.json
  packages/auth/src/app.ts
  packages/auth/src/home/controller.ts
  packages/auth/src/index.ts
  packages/auth/src/login/controller.ts
  packages/auth/src/middleware/json-only.ts
  packages/auth/src/routes.ts
  packages/auth/tests/.eslintrc.js
  packages/auth/tests/app.ts
  packages/auth/tests/login/controller.ts
  packages/auth/tsconfig.json
Labels: auth, test, source

build(common): eslintignore jest config
  packages/common/.eslintignore
Labels: common

docs(ui): mention vue 3 note
  packages/ui/README.md
Labels: ui, service

docs(auth): update readme
  packages/auth/README.md
Labels: auth

chore(auth): add grant dep
  packages/auth/package-lock.json
  packages/auth/package.json
Labels: auth

feat(auth): add grant typedef
  packages/auth/grant.d.ts
Labels: auth

feat(auth): add minimal grant mw
  packages/auth/src/middleware/grant.ts
Labels: auth, source

build(ts): include grant typedef
  packages/auth/tsconfig.json
Labels: auth

feat(auth): add state transport to grant
  packages/auth/grant.d.ts
  packages/auth/src/middleware/grant.ts
Labels: auth, source

feat(auth/app): use grant in app
  packages/auth/src/app.ts
Labels: auth, source

feat(auth): add curveball deps
  packages/auth/package-lock.json
  packages/auth/package.json
Labels: auth

fix(auth): move dotenv responsibilities to index
  packages/auth/package.json
  packages/auth/src/index.ts
Labels: auth, source

fix(auth): update grant typings
  packages/auth/grant.d.ts
Labels: auth

fix(ui): fix babel error
  packages/ui/.browserslistrc
Labels: ui, service

feat(auth): add curveball/session for oauth thru grant
  packages/auth/package-lock.json
  packages/auth/package.json
Labels: auth

feat(auth): add grant middleware
  packages/auth/src/middleware/grant.ts
Labels: auth, source

feat(auth): add session middleware
  packages/auth/src/middleware/session.ts
Labels: auth, source

feat(auth): allow different oauth behaviours
  packages/auth/src/app.ts
  packages/auth/src/middleware/grant.ts
Labels: auth, source

.github/labeler.yml:

---
# Add 'meta' label to any root file changes
meta:
  - ./*

# Package related labels
ui:
  - packages/ui/*
  - packages/ui/**/*

common:
  - packages/common/*
  - packages/common/**/*

web:
  - packages/web/*
  - packages/web/**/*

auth:
  - packages/auth/*
  - packages/auth/**/*

backend:
  - packages/backend/*
  - packages/backend/**/*

service:
  - packages/ui/*
  - packages/ui/**/*

# Add 'test' label to any change to tests
test:
  - packages/**/tests/*
  - packages/**/tests/**/*

# Add 'source' label to any change to src files within the source dir EXCEPT for the docs sub-folder
source:
  - 'packages/**/src/*'
  - 'packages/**/src/**/*'
