Repository streamhue/streamhue, pull requests merged in 2020-10, with the labels that each got.

#7 feat(ui): scaffold the bare minimum ui package
  packages/ui/.browserslistrc
  packages/ui/.editorconfig
  packages/ui/.eslintrc.js
  packages/ui/.gitignore
  packages/ui/README.md
  packages/ui/babel.config.js
  packages/ui/package-lock.json
  packages/ui/package.json
  packages/ui/public/favicon.ico
  packages/ui/public/index.html
  packages/ui/src/App.vue
  packages/ui/src/assets/logo-filled.png
  packages/ui/src/assets/logo-hollow.png
  packages/ui/src/components/HelloWorld.vue
  packages/ui/src/main.ts
  packages/ui/src/router/index.ts
  packages/ui/src/shims-vue.d.ts
  packages/ui/src/store/dummy-store.ts
  packages/ui/src/store/store.ts
  packages/ui/src/views/About.vue
  packages/ui/src/views/Home.vue
  packages/ui/tsconfig.json
Labels: hacktoberfest-accepted, source, ui

#13 fix(ui): add missing store code
  packages/ui/src/store/dummy-store.ts
  packages/ui/src/store/store.ts
Labels: source, ui

#15 fix(ui): fix babel error
  packages/ui/.browserslistrc
Labels: enhancement, hacktoberfest-accepted, meta, ui

#19 feat(auth): add preliminary logger
  packages/auth/package.json
  packages/auth/src/logger.ts
Labels: auth, source
